* {
    transition: 0.2s ease-out;
    /* font-family: tahoma; */
}
body {
    background-color: #282b33;
}
main {
    margin: 3%;
}
footer {
    padding: 2% 0;
    border-style: ridge none none;
    border-color: rgb(196, 183, 183);
    color: rgb(212, 204, 204);
    font-variant: small-caps;
    font-size: small;
    text-align: center;
}


/* navigation */
.navbar-nav > li {
    padding-left:20px;
    padding-right:20px;
}
.navbar-nav > li > a.active {
    border-bottom: solid 1px blanchedalmond;
}
#navbutton {
    position: fixed;
    bottom:5%; right:0;
    display: none;
}


/* primary sections */
.sec {
    min-height: 100vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#777;
    background: #303442;
}
.sec:nth-child( even ){
    background: rgba(67, 121, 143, 0.397);
}
.sec h1,h2,h3,h4,h5 {
    letter-spacing: 2px;
    text-align: center;
}
.sec h2,h3,h4 {
    color:rgb(173, 170, 170);
}
.sec a {
    color: rgb(143, 143, 143);
}

/* content boxes */
.card:hover {
    transform: scale(1.1);
}
.transbox {
    display: flex;
    align-items: center;
    background-color: #212529;
    border-radius: 25px;
}
form .form-control, form .form-control:focus {
    color: cornsilk;
    background-color: rgba(72, 75, 82, 0.925);
}


/* icons and logos */
img.icon-small {
    margin: 5px 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    opacity: 0.7;
}
img.icon-small:hover {
    opacity: 1;
}
img.icon-large {
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0.8;
}
img.icon-large:hover {
    transform: scale(1.2);
    opacity: 1;
}